@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

html,
body {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #e0d9d3;
    height: 100vh;
    font-family: "Roboto", Arial, sans-serif;
}

.c-content {
    width: 100%;
}

@media (min-width: 1349px) {
    .c-content {
        /* overflow: hidden; */
    }
}

.c-menu-left {
    float: left;
    width: 30%;
}

.c-menu-right {
    float: right;
    width: 70%;
}

.c-header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    padding-left: 16px;
    padding-right: 16px;
    height: 60px;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}

@media (min-width: 1349px) {
    .c-header-left {
        width: 92.1%;
    }
}

@media (min-width: 1600px) {
    .c-header-left {
        width: 94.7%;
    }
}

.c-header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    padding-left: 16px;
    padding-right: 16px;
    height: 60px;
    width: 92%;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}

@media (min-width: 1024px) {
    .c-header-right {
        width: 96.5%;
    }
}

@media (min-width: 1600px) {
    .c-header-right {
        width: 97.7%;
    }
}

.c-header-left__img {
    border-radius: 50%;
    width: 40px;
}

.c-header-left__icons {
    display: flex;
}

.c-icon__more {
    cursor: pointer;
}

.c-header-left__icons svg {
    padding: 8px;
}

.c-info-user {
    display: flex;
    flex-direction: column;
    width: 81%;
}

@media (min-width: 1600px) {
    .c-info-user {
        width: 97.7%;
    }
}

.c-info-user__name {
    line-height: 17px;
}

.c-info-user__infos {
    font-size: 13px;
    color: #707070;
    font-family: "Roboto", Arial, sans-serif;
    padding-bottom: 7px;
}

.c-search {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    height: 49px;
}

.c-search__nav {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    border-radius: 18px;
    height: 33px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    padding-left: 10px;
}

.c-search__label {
    font-size: 15px;
    color: #aaaaaa;
    padding-left: 30px;
    width: 77%;
}

.c-search__input {
    width: 100%;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    font-family: "Roboto", Arial, sans-serif;
}

.c-search__input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.c-peoples {
    display: flex;
    flex-direction: column;
    height: 87.8vh;
    background-color: #f2f2f2;
}

@media (min-width: 1349px) {
    .c-peoples {
        height: 82.6vh;
    }
}

@media (min-width: 1600px) {
    .c-peoples {
        height: 981px;
    }
}

.c-peoples__img {
    padding: 0 15px 0 15px;
    border-radius: 50%;
    width: 40px;
}

.c-peoples__talk {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #fff;
    padding-right: 12px;
}

/* .c-peoples__talk::after {
    content: '';
    height: 69px;
    width: 100%;
    float: right;
    border-bottom: 2px solid #f2f2f2;
} */

.c-div-img {
    padding-right: 16px;
}

.c-content-talk {
    width: 70%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-footer {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    justify-content: flex-end;
    align-content: flex-end;
}

.c-footer-container {
    display: flex;
    align-items: center;
    background-color: #efefef;
    height: 64px;
    width: 67.8vw;
    padding-left: 16px;
    padding-right: 16px;

}

@media (min-width: 1349px) {
    .c-footer-container {
        width: 67.5vw;
    }
}

@media (min-width: 1600px) {
    .c-footer-container {
        width: 68.4vw;
    }
}

.c-footer__label {
    width: 88%;
    font-size: 15px;
    color: #000;
    padding-left: 30px;
    padding-right: 37px;
}

@media (min-width: 1600px) {
    .c-footer__label {
        width: 91%;
    }
}

.c-footer__input {
    width: 100%;
    border: 0 none;
    outline: 0;
    height: 40px;
    border-radius: 60px;
    padding-left: 21px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 15px;
    color: #000;
}

.c-footer-content {
    display: flex;
    height: 552px;
}

@media (min-width: 1349px) {
    .c-footer-content {
        height: 624px;
    }
}

@media (min-width: 1600px) {
    .c-footer-content {
        height: 1090px;
    }
}

.c-line {
    height: 69px;
    width: 100%;
    float: right;
    border-bottom: 2px solid #f2f2f2;
}