.c-article {
    height: calc(100% - 380px);
    background-color: var(--default-color);
    margin-bottom: var(--default-mg-20);
    padding-top: var(--default-pdd-top);
    padding-left: var(--default-pdd-left);
}