<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="profile-form">

    <label class="profile-form__label">
        First Name:
        <input type="text" formControlName="firstName" class="profile-form__input" required>
    </label>

    <label class="profile-form__label">
        Last Name:
        <input type="text" formControlName="lastName" class="profile-form__input">
    </label>

    <div formGroupName="address">
      <h3>Address</h3>

      <label>
        Street:
        <input type="text" formControlName="street">
      </label>

      <label>
        City:
        <input type="text" formControlName="city">
      </label>

      <label>
        State:
        <input type="text" formControlName="state">
      </label>

      <label>
        Zip Code:
        <input type="text" formControlName="zip">
      </label>
    </div>

    <button type="submit" [disabled]="!profileForm.valid" class="profile-form__btn">Submit</button>

    <p>
      <button (click)="updateProfile()">Update Profile</button>
    </p>

    <p>
      Form Status: {{ profileForm.status }}
    </p>
</form>
