.c-carousel {
    width: 1000px;
    margin: 0 auto;
    list-style: circle;
}

.c-carousel .o-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-carousel .mg-center {
    margin: 0 auto;
}

.c-carousel .pd-top {
    padding-top: 10px;
}